@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');
body{
    background-image: url('/bg.jpg');
    background-repeat: none;
    background-position-x: center;
    background-position-y: center;
    background-size:cover;
    background-attachment: fixed; 
    font-family: 'Alice', serif;
}
h1{
    font-family: 'Devinne Swash', sans-serif;
}
textarea {
  box-sizing: border-box;
}
.fliped{
    transform: scaleX(-1);
}